.nav-list>li {
    display: flex;
    padding-left: 100px;
    
}

ul {
    display: flex;
    padding-left: 25px;
    padding-top: 20px;
}
body{
    background-color: #F7F7F7;
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown-menu>li{
    background-color:#F7F7F7;
}

.dropdown-menu>li>a:hover{
    background-color: #3734A9;
}
.dropdown-menu>li:hover{
    background-color: #3734A9;
}



.dropdown-item{
    width: fit-content;
}
.splogo{
    height: 75px;
    width: 300px;
    padding-left: 20px;
    padding-top: 10px;
}
.main-1{
        width:100%;
        height: 500px;
        background-color:#01DEC117;
        
}

figure{
    position: relative;
}
.child-1{
    width: 100%;
    position: relative;
}
.child-1>img{
    width:50%;
    height:500px;
    float:right;
}
.child-son1{
   padding-top: 100px;
   padding-left:140px;
   width: 50%;

}






.outer-div {
    width: 100%;
    padding: 5px;
    display: flex;
    height: 500px;
    background-color:#EFF3FC;
  }
  
  .inner-div-1 {
    display: inline-block;
    width: 50%;
    padding-left: 30px;
    padding-top: 50px;
    justify-content: center;
    

  }
  
  .inner-div-2 {
    width: 50%;
    display:grid;
    grid-template-columns: 150px 150px 150px; 
   
    margin-top:5%;
gap: 0;
   
    padding-left: 100px;
    padding-top: 100px;
    
  }
  .infra{
   text-align: center;
    background-color: #F79654;
    padding-top: 50px;
    font-weight: bold;
    color:#F7F7F7;
  }

  .inner-div-2>div>img{
    width: 150px;
    height: 157px;
    justify-content: center;
    display: block;
  }






  .outer1-div {
    width: 100%;
    height: 200px;
    display: flex;
    background-color: #EFF3FC;
  }
  
  .inner1-div-1 {
    width: 50%;
    display: inline-block;
    text-align: left;
    padding-top: 40px;
    padding-left: 120px;
   
  }
  
  .inner1-div-2 {
    width: 50%;
    text-align: center;
    display: block;
  }
  
  .inner-div1{

    height: 100px;
    display: flex;
    padding-left: 50px;
    text-align: center;
    color: rgb(74, 74, 221);
  }
  .inner-div1>span{
    padding-left: 80px;
  }
  .inner-div2{
   
    height: 100px;
    display: flex;
    padding-left: 50px;
    text-align: center;
    color: rgb(88, 88, 237);
  }
  .inner-div2>span{
    padding-left: 80px;

  }
  .technology{
  display: flex;
  height:auto;
 }
.tech-img{
    width: 50%;
    background-color:#F7F7F7;
    border: 1px solid red;

}
.tech-inner{
    display: grid;
    grid-template-columns: auto auto;
    grid-row: 100px;
    background-color: #9747FF;
    
    justify-items: end;
}









.tech-info{
    width: 50%;
    text-align: right;
    padding-right: 75px;

}
.services{

    width: 100%;
    height: auto;
    display: flex;
    background-color:#EFF3FC;
}
.ser-first{
    width: 40%;
padding-left: 60px;

}
.ser-second{
    width: 60%;
   

}


.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px; /* Space between cells */
  }
  
  .cell {
    padding: 20px;
    text-align: center;
  }
  #cell1:hover{
    background-color: #01DEC14D;
  }
  #cell2:hover{
    background-color: #FF99006B;
  }
  #cell3:hover{
    background-color: #D7A3D58F;
  }
  #cell4:hover{
    background-color: #FFD8598C;
  }
  #cell5:hover{
    background-color: #A1CCFF;
  }
  #cell6:hover{
    background-color:#FF5F5F94;
  }

  .text{
    padding-left: 40px;
    background-color: #F7F7F7;
  }
  .wm{
    background-color: #F7F7F7;
  }
   
  .models{
    display: flex;
    grid-template-columns: 1fr;
    gap: 55px; 
    padding-left: 35px;
    height:200px;
    text-align: center;
    margin-right: 120px;
    margin-left: 120px;
  }
  .models>div{
    background-color: #3734A921;
    text-align: center;
    padding-top:40px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    


  }
  #one>img{
    width: 50px;
    height:50px;
    border-radius: 50%;
  }
  #two>img{
    width: 50px;
    height:50px;
    border-radius: 50%;
  }
  #three>img{
    width: 50px;
    height:50px;
    border-radius: 50%;
  }
  #one:hover{
    background-color: #01DEC199;
  }
  #two:hover{
    background-color:#F78D3FCF;
  }
  #three:hover{
    background-color: #FFD859C7;
  }

  .but{
    color: #F7F7F7;
    background-color: #3734A9;
    padding: 5px 25px;
    border-radius:10px;
  }
  .but:hover{
    background-color: #000000;
  }
  .pics{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto; 
    text-align: center;
   
    padding-left: 80px;
    padding-right: 80px;
    margin-left:120px;
    margin-right: 120px;
    gap: 20px;
  }
   .pics>div>img{
    width: 100px;
    height: 50px;
    margin-top: 10px;
   }

   .contact{
    
    height: fit-content;
    width: 100%;
    background-repeat: no-repeat;
   background-size: 100%,100%;
    display: flex;
    background-image: url('../img/meee.png');
    color: #F7F7F7;
   }
   .con-one{
    width: 50%;
    text-align: left;
    padding-top: 75px;
    padding-left:100px;
    justify-content: center;
   }
   .con-sec{
    width: 20%;
    text-align: center;
    padding-top: 100px;
    padding-left:50px;
   
   }
   .con-sec>p>img{
    width: 75px;
    height: 75px;
    border-radius: 50px;
   }
   .con-tri{
    width: 30%;
    text-align: center;
    padding-top: 150px;
    padding-left:10px;
   }
   .con-tri>button{
    color:#3734A9;
    padding: 10px;
    border: 1px solid #9747FF;
   }
   .read-head{
    margin-left: 10%;
   }

   .read{
    margin-left: 6%;
    margin-right: 6%;
    display:grid;
    grid-template-columns: auto auto auto;
    gap:20px;
    height: 300px;

   }
   .read{
    display: flex;
    grid-template-columns: 1fr;
    gap: 55px; 
    padding-left: 35px;
    height:auto;
    text-align: center;
    margin-right: 120px;
    margin-left: 120px;
   }
   .read>div{
    text-align:left;
   
    width:28%;
    box-shadow: 0px 7px 10px 0px #00000040;
    

   }
   .read-one>img{
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
    width:100% ;
    height:250px
   }
  .read-con{
    padding-left: 10px;
  }
  .read-two>img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
     width:100% ;
     height:250px;
    }
    .read-tri>img{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
         width:100% ;
         height:250px
    }
   hr{
   margin-left: 10px;
   margin-right: 10px;
   }
   .profile{
    display: grid;
    grid-template-columns: auto auto;
    gap: 0;
    display:inline-flex;
   }
   .pic{
    margin-left: 10px;
    border-radius: 30%;
   
   }
   .messg{
    text-align: left;
    padding-left: 5px;
    
   }
    .our{
        text-align: center;
        margin-top: 50px;
    }
    .sunil{
        text-align: center;
        padding-left: 25%;
        padding-right: 25%;
    }
    .bussiness{
        margin-left:25%;
        margin-right: 25%;
        text-align: center;
        margin-top:5%;
    }
    .clients>div{
        width:25%;
        text-align: center;
    }
    .clients{
        display: flex;
        margin-top: 3%;
    }
    .arrow-setting{
       
        height: 250px;
        display: grid;
        grid-template-columns:20% 60% 20%;
    
    }

    .profile-pic{
        align-items: center;
        padding-left:40%;
        
    }

        



    .foot-main{
        padding-left: 8%;
        padding-right: 8%;
        display: flex;
        background-color: #033B85;
        height: 500px;
        padding-top: 150px;
        color: #FFFFFF;
    }
    .foot-div1{
        text-align: left;
        margin-right: 50px;
        width: 25%;
        border-right-style: solid;
        border-width: 1px;
        border-color: white;

    }
    .foot-div2{
        text-align: left;
        margin-right: 50px;
        width: 19%;
        border-right-style: solid;
        border-width: 1px;
        border-color: white;

    }
    .foot-div3{
        text-align: left;
        margin-right: 50px;
        width: 20%;
        border-right-style: solid;
        border-width: 1px;
        border-color: white;
       
    }
    .foot-div4{
        text-align: left;
        margin-right: 50px;
        width: 20%;
    }
    .foot-list1{
        display: contents;
        list-style-type: none;
        margin-top: 12px;
        padding-top: 20px;
    }
    .last-foot{
        background-color: #033B85;
        width: 100%;
        text-align: center;
        color: #F7F7F7;
        padding-top: 20px;
        margin-top: 0;
        height:auto;
        padding-bottom: 5px;
    }
    